body{
    background-color: rgb(214, 210, 210);
}

.container {
    max-width: 90%;
    margin: auto;
    display: grid;
    row-gap: 10px;
    column-gap: 30px;
}

nav {
    background-color: rgb(85, 84, 84);  
    grid-row: 2;
    margin: 10px 0;
    grid-column: 1/6;
    color: rgb(255, 255, 255);
}

#search {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: gb(85, 84, 84);
    border: none;
}

.search-result {
   grid-column: 1/4;
   grid-row: 3;
   background-color: rgb(85, 84, 84);
   color:rgb(255, 255, 255);  
}

.nomination {
    background-color:rgb(85, 84, 84);
    color: rgb(255, 255, 255);
    grid-row: 3;
    grid-column: 4/6;
    height: 500px;
}

.nomination h2, p{
     text-align: center;
}

nav, .search-result, .nomination {
    padding: 0 30px;
}

li {
    margin: 10px 0;
}

.nominate-button {
    background-color: rgb(35, 95, 35);
}

#submit-button {
    background-color: rgb(141, 135, 135);
    color: rgb(255, 255, 255);
    width: 70px;
    height: 35px;
    border-style: none;
    border-radius: 5px;
}

.nomination-alert {
    color: rgb(3, 0, 0);
    background-color: rgb(199, 184, 47);
    width: 80%;
    margin: auto;
}

.delete {
    background-color: rgb(187, 30, 30);
}
    
.delete, .nominate-button { 
    border:none;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0px 10px;
    text-transform:capitalize;
    font-size: 100%;
}

h2 {
    font-size: 19px;
}

.search-term {
    color:rgb(197, 197, 197);
}

img {
    width: 100%;
    height: 70%;
    display: block;
}

.movie-block {
    background-color: rgb(151, 6, 6);
    margin: 30px 5px;
    width: 30%;
} 

#movie-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: 80%;
    margin-left: 2.5%;
    text-align: center;
}

p {
    padding: 5px;
    margin-left: 5px;
}

.nominated-movie {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 40px;
    text-align: left;
}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgb(240, 236, 236);
    transform: rotate(5, 9);
    animation: spin 2s linear infinite;
    -webkit-animation: spin .5s linear infinite; /* Safari */
    border-top: 5px solid rgb(73, 64, 64);
    margin: auto;
    position: relative;
    top: -40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #shareable-link {
      display: inline;
      position: relative;
      top: 0px;
      right: 0px;
  }

  #shareable-link button.copybttn{
      color: rgb(235, 233, 233);
      background-color: rgb(17, 17, 17);
      position: relative;
      left: 20%;
      border: .5px solid rgb(141, 138, 138);
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      transition-duration: 0.4s;
      box-shadow: 0 .5px rgb(136, 134, 134);
  }

  .copy{
    color: rgb(235, 233, 233);
    background-color: rgb(102, 99, 99);
    position: relative;
    left: 18.5%;
    border: .5px solid rgb(141, 138, 138);
    border-radius: 10px 0 0px 10px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 .5px rgb(136, 134, 134);
    /* display: none; */
    content: 'love';
}

.copy-input {
    height: 25px;
    border-radius: 0 12px 12px 0;
    width: 200px;
    position: relative;
    border: none;
    left: 18%;
}


#shareable-link:hover button.copybttn{
    background-color:rgb(235, 233, 233);
    color: rgb(17, 17, 17);
  }

#shareable-link:active button.copybttn{
    background-color: #3a3f3a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  @media (max-width: 819px) {
    .copy {
      display: none;
    }
    .copy-input {
        right: 30px;
        top: 10%;
        position: absolute;
        margin: 0 30px;
        width: 140px;
    }
  }

  #result-heading {
    font-size: 20px;
  }